<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="/admin/share/style"></style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

  <div th:replace="/admin/share/header"></div>

  <div th:replace="/admin/share/left_side"></div>

  <div class="content-wrapper">
    <div layout:fragment="content"></div>
  </div>

  <div th:replace="/admin/share/footer"></div>

  <div th:replace="/admin/share/script"></div>
  <script layout:fragment="script"></script>

</div>

</body>
</html>