<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin"
>
<head>
  <meta charset="UTF-8">
  <title>Brands</title>
</head>
<body>

<div layout:fragment="content">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Brands</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Brands</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>


  <div class="card">
    <div class="card-header">
      <div class="float-left">
        <h1 class="card-title font-weight-bold" style="line-height: 2;">Brands list</h1>
      </div>
      <div class="float-right">
        <a class="btn btn-block btn-success" th:href="@{/admin/brand/new}">New brand</a>
      </div>
    </div>

    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Categories</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <div th:if="${message}" class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          [[${message}]]
        </div>
        <th:block th:each="brand:${brandList}">
          <tr>
            <td>[[ ${brand.id} ]]</td>
            <td>[[ ${brand.name} ]]</td>
            <td>[[ ${brand.categories} ]]</td>
            <td>
              <a th:href="@{'/admin/brand/edit/' + ${brand.id}}" class="mr-3 btn btn-success btn-sm"><i class="fas fa-edit"></i> Edit </a>
              <a th:href="@{'/admin/brand/delete/' + ${brand.id}}" class="mr-3 btn btn-danger  btn-sm"><i class="fas fa-trash"></i> Delete </a>
            </td>
          </tr>
        </th:block>
        </tbody>
        <tfoot>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Categories</th>
          <th></th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>

</div>

</body>
</html>