<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<head>
  <meta charset="UTF-8">
  <title>Categories</title>
</head>
<body>
<div layout:fragment="content">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Users</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Categories</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> Category form [[ ${pageTitle} ]]</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form th:action="@{/admin/category/save}" th:object="${category}" method="post">
              <input type="hidden" th:field="*{id}" th:value="${category.id}">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleCategoryName">Category Name:</label>
                  <input type="text" th:field="*{name}" id="exampleCategoryName" class="form-control" required>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-default" onclick="cencelForm()">Cencel</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

</div>
</body>
</html>